
  @import '../../../../theme';
  .box-services{
    .box-banner{
      h2{
        color:#fff;
      }
    }
  }

  .box-head-services{
    height: 350px !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    padding:0 !important;
    display: flex;
    align-items: center;
  }
  .breadcrumbs{
    position: relative;
    display: block;
    margin-bottom: 120px;
    .ant-breadcrumb-link{
      color:#fff !important;
      a{
        color:#fff !important;
      }
    }
    .ant-breadcrumb-separator{
      color:#fff !important;
    }
  }
  #services-details{
    background: $brand-primary;
    padding:0 0 80px 0;
    .descargar-ficha{
      position: absolute;
      top:0;
      right:0;
      cursor:pointer;
      h3{
        color:#fff !important;
        font-size:22px;
      }
      img{
        width:40px;
      }
    }
    .body-content{
      display: block;
      margin: 0 auto;
      .head-section{
        padding:0 !important;
        h1,h2,h3,h4,h5,h6,p,li{
          font-family: 'Roboto', sans-serif;
          color: #fff !important;
        }
        img{
          width:100%;
          display: block;
          margin:50px auto
        }
        h1{
          font-size: 40px;
          font-weight: 900;
        }
        h2{
          font-size:30px;
          font-weight: 800;
          padding:20px 0;
        }
        p{
          font-size:16px;
          font-weight: 200;
          line-height:22px;
          display: block;
          margin: 30px 0;
        }
        ul{
          margin:0;
          padding:0;
          list-style-type: circle;
          li{
            font-size:16px;
            font-weight: 200;
            line-height:22px;
            display: block;
            margin: 30px 0;
          }
        }
      }

    }


    .similar-products{
      .slick-prev{
        left:-50px;
      }
      .slick-next{
        right:-50px;
      }
      /* the slides */
      .slick-slide {
        margin: 0 27px;
      }
      /* the parent */
      .slick-list {
        margin: 0 -27px;
      }
    }

  }

  .view-pdf{
    width:100%;
    height:100%;
    position: fixed;
    z-index:999999;
    top:0;
    left:0;
    background:#333;
    .head-pdf{
      width: 100%;
      height:50px;
      display: block;
      border-top:1px solid #fff;
      border-bottom:1px solid #fff;
      .btn-close-pdf{
        width:40px;
        height:40px;
        position: absolute;
        right: 10px;
        top:5px;
        cursor: pointer;
        img{
          width:100%;
          display: block;
        }
      }
    }
    .content-pdf{
      width: 100%;
      height:100%;
      display: block;
      position: relative;
      iframe{
        width: 100%;
        height:100%;
        display: block;
      }
    }
  }
