<section id="services-details">
  <article>
    <div class="box-services">
      <div class="box-head-services">
        <div class="wrapper-site">
          <div class="head-section">
            <h2>
              Nuestros<br/> Servicios
            </h2>
          </div>
        </div>
      </div>
      <app-breadcrumbs Theme="inside-page"></app-breadcrumbs>


      <div class="wrapper-site">
        <div class="body-content">
          <div class="head-section">
            <h1>
              Los gases son solo el comienzo
            </h1>
          </div>
          <img src="https://via.placeholder.com/1200x400.png/333/fff"/>
          <p>
            Somos más que un proveedor de gases industriales. Somos expertos en la entrega de gas, suministro y uso, y trabajaremos con usted en cada paso del proceso para que obtenga el máximo provecho de nuestros gases. Linde ofrece una extensa cartera de servicios que comienza con la optimización de la eficiencia de sus procesos y termina Haciendo nuestro mundo más productivo.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <img src="https://via.placeholder.com/1200x400.png/333/fff"/>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <img src="https://via.placeholder.com/1200x400.png/333/fff"/>
        </div>
      </div>



      <div class="similar-products">
        <div class="wrapper-site">
          <div class="head-section">
            <h2>
              Otros<br/> Servicios
            </h2>
          </div>

          <app-slides Theme="thumbs-services" [data]="slides_data" [config]="config_slide"></app-slides>
        </div>

      </div>



    </div>
  </article>
</section>
