<section id="services-details">
  <article>
    <div class="box-services">
      <div class="box-head-services" style="background-image: url({{dataPage?.bigBanner?.data?.attributes?.url}});">
        <div class="wrapper-site">
          <div class="box-banner">
            <h2>
              {{dataPage.name}}
            </h2>
          </div>
        </div>
      </div>
      <div class="breadcrumbs wrapper-site">
        <nz-breadcrumb>
          <nz-breadcrumb-item><a [routerLink]="['/services/all']">Nuestros Segmentos</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>Detalle {{dataPage.name}}</nz-breadcrumb-item>
        </nz-breadcrumb>

        <ng-container *ngIf="currentPdfView != null">
          <div class="descargar-ficha" (click)="viewPdfInline()">
            <h3>Ficha Técnica <img src="./assets/img/download.png"/></h3>
          </div>
        </ng-container>
      </div>
      <div class="wrapper-site">
        <div class="body-content">
          <ng-container *ngIf="dataPage != null">
            <div class="head-section" *ngIf="dataPage.Description != undefined && dataPage.Description.length > 0">
              <div *ngFor="let item of dataPage.Description">
                <h3>{{item.name}}</h3>
                <markdown [data]="item.description"></markdown>
              </div>
            </div>
            <div class="head-section" *ngIf="dataPage.use != undefined && dataPage.Use.length > 0">
              <div *ngFor="let item of dataPage.Use">
                <h3>{{item.name}}</h3>
                <markdown [data]="item.description"></markdown>
              </div>
            </div>
            <div class="head-section" *ngIf="dataPage.Materials != undefined && dataPage.Materials.length > 0">
              <div *ngFor="let item of dataPage.Materials">
                <h3>{{item.name}}</h3>
                <markdown [data]="item.description"></markdown>
              </div>
            </div>
            <div class="head-section" *ngIf="dataPage.Security != undefined && dataPage.Security.length > 0">
              <h2>Seguridad:</h2>
              <div *ngFor="let item of dataPage.Security">
                <br/>
                <h3>{{item.name}}</h3>
                <markdown [data]="item.description"></markdown>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="dataPage.length === 0">
            <div class="loader white">Loading...</div>
          </ng-container>



        </div>
      </div>
    </div>
  </article>
</section>

<ng-container *ngIf="viewPdf">
  <div class="view-pdf">
    <div class="head-pdf">
      <div class="btn-close-pdf" (click)="closePdfInline()">
        <img src="./assets/img/x-mark.png" />
      </div>
    </div>

    <div class="content-pdf">

      <ng-container *ngIf="currentPdfView === 'aire' ">
        <iframe id="iframepdf" src="./assets/pdf/aire.pdf"></iframe>
      </ng-container>
      <ng-container *ngIf="currentPdfView === 'indurmig' ">
        <iframe id="iframepdf" src="./assets/pdf/indurmig.pdf"></iframe>
      </ng-container>

    </div>
  </div>
</ng-container>
