@import '../../../../theme';
.btn-primary,
.btn-secundary{
  cursor:pointer;
  padding:12px;
  p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
  }
}
.btn-primary{
  background: $brand-primary;
  border:1px solid $brand-primary;
  p{
    color:#fff;
  }
  &:hover{
    background: $brand-primary;
    border:1px solid #fff;
  }
}

.btn-secundary{
  background: $brand-secundary;
  border:1px solid $brand-secundary;
  p{
    color:#fff;
  }
  &:hover{
    background: $brand-secundary;
    border:1px solid #fff;
  }
}
