@import '../../../theme';
@import '../../../mq';

.contact-primary{
  background: $brand-secundary;
  padding:50px 0;
  .wrapper-site{
    display: grid;
    grid-template-columns: 40% 60%;
    @include respond-to($iphone_xs) {
      grid-template-columns: 100%;
    }
    .left{
      display: flex;
      align-items: center;
      .body{
        .head-section{
          padding:0 0 20px 0;
          h2{
            margin-bottom: 0px;
          }
          p{
            font-family: 'Roboto', sans-serif;
            color:#fff;
            font-size: 18px;
            line-height: 28px;
            font-weight: 200;
            margin:0;
            padding:0;
          }
        }
        .content{
          padding:20px 0 20px 0;
          display:block;
          h3{
            font-family: 'Roboto', sans-serif;
            color:#fff;
            font-size: 30px;
            font-weight: 600;
          }
          ul{
            margin:0;
            padding:0;
            li{
              display:flex;
              align-items:center;
              column-gap: 15px;
              margin:15px 0 15px 0;
              p{
                font-family: 'Roboto', sans-serif;
                color:#fff;
                font-size: 12px;
                font-weight: 200;
              }
            }
          }
        }
      }
    .maps{
      width:100%;
      height: 350px;
      display:block;
      margin-top: 40px;
      border-radius: 8px;
      background:$brand-primary;
      border:3px solid $brand-primary;
      overflow: hidden;
    }
    }
    .right{
      .form{
        width: 100%;
        padding-top: 50px;
        .body{
          width: 500px;
          display:block;
          margin:0;
          float: right;
          @include respond-to($iphone_xs) {
            width: 100%;
          }
          ul{
            margin:0;
            padding:0;
            li{
              padding-bottom:26px;
              .box-campo-form{
                p{
                  font-family: 'Roboto', sans-serif;
                  color: #fff;
                  margin: 15px 0;
                }
                input{
                  font-family: 'Roboto', sans-serif;
                  width:calc(100% - 30px);
                  display:block;
                  background:#a6a4a4;
                  padding:15px;
                  outline:none;
                  border:none;
                  border-radius:4px;
                  font-size:16px;
                  color:#fff;
                }
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color:#fff;
                }
                ::-moz-placeholder { /* Firefox 19+ */
                  color:#fff;
                }
                :-ms-input-placeholder { /* IE 10+ */
                  color:#fff;
                }
                :-moz-placeholder { /* Firefox 18- */
                  color:#fff;
                }
                .error{
                  position:absolute;
                  padding:0 0 0 15px;
                  min-height:30px;
                  p{
                    font-family: Arial, Helvetica, sans-serif;
                    text-align: left;
                    color:$brand-primary;
                    font-size:14px;
                    padding:10px 0 5px 0;
                    margin:0;
                  }
                }
                textarea{
                  width:calc(100% - 30px);
                  min-height:200px;
                  background:#a6a4a4;
                  padding:15px;
                  outline:none;
                  border:none;
                  border-radius:4px;
                  resize: none;
                  font-family: 'Roboto', sans-serif;
                  font-size:16px;
                  color:#fff;
                }
              }
            }
          }
        }
      }

    }

  }
}


