
<div class="slider-primary {{Theme}}">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">

    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <div class="content">
        <div class="wrapper-content-slides">
          <h3>{{slide.title}}</h3>
          <ng-container *ngIf="slide.description != null">
            <p>{{slide.description}}</p>
          </ng-container>
          <div class="call-to-action">
            <div class="btn-secundary">
              <p>
                Ver Más
              </p>
            </div>
          </div>

        </div>
      </div>
      <img src="{{urlAssets}}{{slide.web_img.data.attributes.url }}" alt="" width="100%">
    </div>
  </ngx-slick-carousel>
</div>
