
<div class="slider-primary {{Theme}}">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">

    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img *ngIf="slide?.background" src="{{urlAssets}}{{slide.background.url }}" alt="" width="100%">
      <div class="content">
        <div class="wrapper-content-slides">
          <h3>{{slide.title}}</h3>
          <h5>{{slide.description}}</h5>
          <p>{{slide.message}}</p>
          <div class="call-to-action" *ngIf="slide?.callToAction">
            <app-button Theme="btn-secundary" Label="{{slide?.callToAction?.label}}" [routerLink]="[slide?.callToAction?.url]"></app-button>
          </div>
        </div>
      </div>

    </div>

  </ngx-slick-carousel>

  <!-- <button (click)="addSlide()">Add</button>
  <button (click)="removeSlide()">Remove</button>
  <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
  <button (click)="slickModal.unslick()">unslick</button> -->
</div>
