@import '../../../../theme';
@import '../../../../mq';
$colorTextBanner: $white;

.slider-primary{
  position: relative;
  display: block;
  .content{
    width: 100% !important;
    z-index: 11;
    h3,h5,p{
      font-family: 'Roboto', sans-serif;
    }
    .wrapper-content-slides{
      width: 90%;
      max-width:1336px;
      display: block;
      margin: 0 auto;
      position: relative;
    }
  }
}
.big-banner{
  width: 100%;
  max-width:90%;
  display: block;
  margin:50px auto;
  border-radius:30px;
  overflow: hidden;
  @include respond-to($iphone_xs) {
    max-width:100%;
    border-radius:0px;
    position:relative;
  }
  .wrapper-content-slides{
    width: 90% !important;
    max-width:500px !important;
    display: block !important;
    margin: 0 0 0 8% !important;
    position: relative !important;
  }
  .content{
    width:60%;
    position: absolute;
    bottom:20%;
    left:0;
    @include respond-to($iphone_xs) {
      // position: relative;
      top:20px;
      bottom:auto;
      padding:60px 0 0 0;
    }
    h3{
      max-width:100%;
      font-weight: 900;
      color:$white;
      font-size: 30px;
      color:$colorTextBanner;
      @include respond-to($iphone_xs) {
        font-size: 18px;
        font-weight: 700;
      }
    }
    h5{
      max-width:100%;
      font-size: 14px;
      font-weight: 400;
      color:$white;
      color:$colorTextBanner;
      display: block;
      margin:5px 0 5px 0;
      @include respond-to($iphone_xs) {
        display: none;
      }
    }
    p{
      font-weight: 400;
      color:$white;
      color:$colorTextBanner;
      max-width:460px;
    }
    h3,h5,p{
      @include respond-to($iphone_xs) {
        color:$white;
      }
    }
    .call-to-action{
      max-width:200px;
      display: block;
      margin: 15px 0;
      @include respond-to($iphone_xs) {
        max-width:120px;
      }
    }
  }


  // Slick > Theme
  .slick-next,
  .slick-prev{
    z-index: 10;
  }
  .slick-next{
    right: 50px;
  }
  .slick-prev{
    left:50px;
  }
  .slick-slide{
    position: relative;
  }
  .slick-arrow{
    @include respond-to($iphone_xs) {
      display: none !important;
    }
  }

}

.thumbs-services{
  width: 100%;
  .wrapper-content-slides{
    max-width:100% !important;
  }
  .content{
    width:100%;
    position: relative;
    margin-top:25px;
    left:0;
    h3{
      font-size: 22px;
      font-weight: 600;
      color:$white;
      padding:10px 0 10px 0;
    }
    h5{
      font-weight: 200;
      font-size: 16px;
      color:$white;
      padding:5px 0 5px 0;
    }
    p{
      font-size: 14px;
      font-weight: 200;
      color:$white;
      padding:5px 0 5px 0;
    }
  }


  // Slick > Theme
  .slick-next,
  .slick-prev{
    z-index: 10;
  }
  .slick-next{
    right: 50px;
  }
  .slick-prev{
    left:50px;
  }
  .slick-slide{
    position: relative;
  }

}

// theme para todos los productos
.thumbs-products{
  width: 100%;
  .wrapper-content-slides{
    max-width:100% !important;
  }
  .content{
    width:100%;
    position: relative;
    margin-top:25px;
    left:0;
    h3{
      font-size: 22px;
      font-weight: 400;
      color:$white;
      padding:10px 0 10px 0;
    }
    h5{
      font-weight: 600;
      font-size: 22px;
      color:$white;
      padding:5px 0 5px 0;
    }
    p{
      font-size: 14px;
      font-weight: 200;
      color:$white;
      padding:5px 0 5px 0;
    }
  }
  // Slick > Theme
  .slick-next,
  .slick-prev{
    z-index: 10;
  }
  .slick-next{
    right: 50px;
  }
  .slick-prev{
    left:50px;
  }
  .slick-slide{
    position: relative;
  }

}


// theme para el interior de un producto
.thumbs-product{
  width: 100%;
  .slide{
    display: flex;
  }
  .wrapper-content-slides{
    max-width:100% !important;
  }
  .content{
    display:none !important;
    width:100%;
    position: relative;
    margin-top:25px;
    left:0;
    h3{
      font-size: 22px;
      font-weight: 400;
      color:$white;
      padding:10px 0 10px 0;
    }
    h5{
      font-weight: 600;
      font-size: 22px;
      color:$white;
      padding:5px 0 5px 0;
    }
    p{
      font-size: 14px;
      font-weight: 200;
      color:$white;
      padding:5px 0 5px 0;
    }
  }
  // Slick > Theme
  .slick-next,
  .slick-prev{
    z-index: 10;
  }
  .slick-next{
    right: 50px;
  }
  .slick-prev{
    left:50px;
  }
  .slick-slide{
    position: relative;
  }
}


.slick-slider {
  width: 100%;
  margin: auto;
  background: #000;
  @include respond-to($iphone_xs) {
    background: transparent;
  }
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  // background: url(assets/images/nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}

.next-slide {
  // background: url(assets/images/nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}
