@import '../../../../theme';
.slider-primary{
  position: relative;
  display: block;
  .content{
    z-index: 11;
    h3,h5,p{
      font-family: 'Roboto', sans-serif;
    }
    .wrapper-content-slides{
      max-width:85%;
      display: block;
      margin: 0 auto;
      position: relative;
    }
  }
}
.big-banner{
  width: 100%;
  .content{
    width:60%;
    position: absolute;
    bottom:40%;
    left:0;
    h3{
      font-weight: 900;
      color:$white;
    }
    h5{
      font-weight: 700;
      color:$white;
    }
    p{
      font-weight: 400;
      color:$white;
    }
  }


  // Slick > Theme
  .slick-next,
  .slick-prev{
    z-index: 10;
  }
  .slick-next{
    right: 50px;
  }
  .slick-prev{
    left:50px;
  }
  .slick-slide{
    position: relative;
  }

}

.thumbs-services{
  width: 100%;
  .wrapper-content-slides{
    max-width:100% !important;
  }
  .content{
    width:100%;
    position: relative;
    margin-top:25px;
    left:0;
    h3{
      font-size: 22px;
      font-weight: 600;
      color:$white;
      padding:10px 0 10px 0;
    }
    h5{
      font-weight: 200;
      font-size: 16px;
      color:$white;
      padding:5px 0 5px 0;
    }
    p{
      font-size: 14px;
      font-weight: 200;
      color:$white;
      padding:5px 0 5px 0;
    }
  }


  // Slick > Theme
  .slick-next,
  .slick-prev{
    z-index: 10;
  }
  .slick-next{
    right: 50px;
  }
  .slick-prev{
    left:50px;
  }
  .slick-slide{
    position: relative;
  }

}

// theme para todos los productos
.thumbs-products{
  width: 100%;
  .wrapper-content-slides{
    max-width:100% !important;
  }
  .content{
    width:100%;
    position: relative;
    margin-top:25px;
    left:0;
    h3{
      font-size: 22px;
      font-weight: 400;
      color:$white;
      padding:10px 0 10px 0;
    }
    h5{
      font-weight: 600;
      font-size: 22px;
      color:$white;
      padding:5px 0 5px 0;
    }
    p{
      font-size: 14px;
      font-weight: 200;
      color:$white;
      padding:5px 0 5px 0;
    }
  }
  // Slick > Theme
  .slick-next,
  .slick-prev{
    z-index: 10;
  }
  .slick-next{
    right: 50px;
  }
  .slick-prev{
    left:50px;
  }
  .slick-slide{
    position: relative;
  }

}


// theme para el interior de un producto
.thumbs-product{
  width: 100%;
  .slide{
    display: flex;
  }
  .wrapper-content-slides{
    max-width:100% !important;
  }
  .content{
    display:none !important;
    width:100%;
    position: relative;
    margin-top:25px;
    left:0;
    h3{
      font-size: 22px;
      font-weight: 400;
      color:$white;
      padding:10px 0 10px 0;
    }
    h5{
      font-weight: 600;
      font-size: 22px;
      color:$white;
      padding:5px 0 5px 0;
    }
    p{
      font-size: 14px;
      font-weight: 200;
      color:$white;
      padding:5px 0 5px 0;
    }
  }
  // Slick > Theme
  .slick-next,
  .slick-prev{
    z-index: 10;
  }
  .slick-next{
    right: 50px;
  }
  .slick-prev{
    left:50px;
  }
  .slick-slide{
    position: relative;
  }
}


.slick-slider {
  width: 100%;
  margin: auto;
  background: #000;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  // background: url(assets/images/nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}

.next-slide {
  // background: url(assets/images/nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}
