@import '../../../../theme';
.scrollTo-rectangle{
  width:60px;
  height:60px;
  display: flex;
  position: fixed;
  z-index: 5655;
  bottom:-2px;
  left:10%;
  background: $brand-primary;
  align-items: center;
  cursor: pointer;
  border:2px solid $brand-secundary;
  img{
    width:50%;
    display: block;
    margin: 0 auto;
  }
}
