<section id="services-details">
  <article>
    <div class="box-services">
      <div class="box-head-services">
        <div class="wrapper-site">
          <div class="head-section">
            <h2>
              Nombre<br/> Servicios
            </h2>
          </div>
        </div>
      </div>
      <app-breadcrumbs Theme="inside-page"></app-breadcrumbs>


      <div class="wrapper-site">
        <div class="body-content">
          <div class="head-section">
            <h1>
              Lorem Ipsum
            </h1>
          </div>
          <img src="https://via.placeholder.com/1200x400.png/333/fff"/>
          <h2>sub title</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <img src="https://via.placeholder.com/1200x400.png/333/fff"/>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <img src="https://via.placeholder.com/1200x400.png/333/fff"/>
        </div>
      </div>



      <div class="similar-products">
        <div class="wrapper-site">
          <div class="head-section">
            <h2>
              Otros<br/> Servicios
            </h2>
          </div>

          <app-slides Theme="big-banner" [data]="slides_data" [config]="config_slide"></app-slides>
        </div>

      </div>



    </div>
  </article>
</section>
