<div class="{{Theme}}">
  <div class="wrapper-site">
    <div class="box-view-product">
      <div class="wrapper-product">
        <div class="left">
          <div>
            <app-slides *ngIf="slides_data.length > 0" Theme="thumbs-product" [data]="slides_data" [config]="config_slide"></app-slides>
          </div>
        </div>
        <div class="right">
          <div class="box-especification">
            <div class="card-shop">
              <ul>
                <li>
                  <h1 class="nombre">{{product.title}}</h1>
                </li>
                <li>
                  Proveedor:  <p class="dealer">{{product.supplier}}</p>
                </li>
                <li>
                  Valor: <p class="price">{{product.price | currency:'CLP':true}} + Iva</p>
                </li>
                <li class="category">
                  <ul>
                    <ng-container>
                      <li *ngFor="let category of product.categories" (click)="goToCategory(category)">
                        {{category.title}}
                      </li>
                    </ng-container>
                  </ul>
                </li>
                <li>
                  <div class="description">
                    <h3 class="sub-title">What is Lorem Ipsum?</h3>
                    {{product.label}}
                  </div>
                </li>
              </ul>
              <div class="call-to-action">
                <ul>
                  <li>
                    <button nz-button nzSize="large" nzType="primary" [routerLink]="'/contacto'">Contactar</button>
                  </li>
                  <li>
                    <!-- <button nz-button nzSize="large" nzType="primary" (click)="addCotizacion(product)">Cotizar</button> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
