<div class="shopping-cart">
  <div class="head">
    <div class="wrapper">
      <h3>Cotización</h3>
      <p>
        *Aqui puedes ver el detalle de tu cotización a gestionar por nuestros ejecutivos de ventas.
      </p>
    </div>
  </div>
  <div class="body">
    <div>
      <ul>
        <li>
          <div class="thumb">
            <img src="./assets/img/delete.svg" />
          </div>
          <div class="details">
            <h4>Item Name</h4>
            <h5>Small Text</h5>
            <p>$99.000</p>
          </div>
          <div class="controls">
            <div class="cant">
              <nz-input-number
                [(ngModel)]="initValue"
                [nzMin]="1"
                [nzMax]="10"
                [nzStep]="1"
                [nzDisabled]="isDisabled"
              ></nz-input-number>
            </div>
            <div class="delete" (click)="deleteItem()">
              <img src="./assets/img/delete.svg" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="foo">
    <div class="wrapper">
      <p>
        *Para que la cotizacion sea factible debes llenar tus datos personales
      </p>
      <button nz-button nzSize="large" nzType="primary" [routerLink]="'/contacto'">Cotizar</button>
    </div>

  </div>
</div>
