.shopping-cart{
  width: 100%;
  // max-width: 320px;
  max-width: 640px;
  height: 100%;
  display: block;
  position:fixed;
  z-index: 100;
  top:0;
  right:0;
  // display: none !important;

  background: #fff;

  .wrapper{
    max-width: 90%;
    display: block;
    margin: 0 auto 0 auto;
  }

  .head, .body{
    width:100%;
    padding:20px 0;
  }

  .body {
    ul{
      width: 100%;
      margin: 0;
      padding: 0;
      li{
        width: 100%;
        padding:15px 10px;
        background: #fafafa;
        display:grid;
        grid-template-columns: 50px 170px 70px;
        align-items:center;
        justify-content:space-between;
        border:1px solid red;
      }
      .thumb{
        background: #333;
        border-radius:5px;
        img{
          width: 100%;
        }
      }
      .details{
        width: 100%;
        display: block;
        h4,h5,p{
          color:#333;
          margin: 0;
          padding: 0;
        }
        h4{
          font-weight: 600;
          font-size:18px;
        }
        h5{
          font-weight: 400;
          font-size:12px;
        }
        p{
          font-weight: 800;
          font-size:16px;
        }
      }
      .controls{
        display:flex;
        column-gap: 5px;
        .cant{
          max-width:50px;
          nz-input-number{
            width: 100% !important;
          }
        }
        .delete{
          max-width: 15px;
          margin: 5px 0 0 5px;
          cursor:pointer;
          display: block;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .foo{
    width: 100%;
    display:block;
    padding: 15px 0 25px 0;
    p{
      display: block;
      margin: 0 auto 30px auto;
    }
  }

}

