<div class="shopping-cart" *ngIf="productsItems.length > 0">
  <div class="head">
    <div class="wrapper">
      <h3>Cotización</h3>
      <p>
        *Aqui puedes ver el detalle de tu cotización a gestionar por nuestros ejecutivos de ventas.
      </p>
    </div>
  </div>
  <div class="body">
    <div>
      <ul>
        <form class="box-formulario-wrapper" [formGroup]="shoppingCart">
          <div  formArrayName="productsCant" *ngFor="let coment of formArray.controls; let i = index">
              <ng-container [formGroupName]="i">

                <li *ngFor="let product of productsItems">
                  <div class="thumb">
                    <img src="./assets/img/delete.svg" />
                  </div>
                  <div class="details">
                    <h4>{{product.title}}</h4>
                    <p>${{product.price}}</p>
                  </div>
                  <div class="controls">
                    <div class="cant">


                      <ng-container *ngIf="false">
                        <nz-input-number
                          [(ngModel)]="initValue"
                          [nzMin]="1"
                          [nzMax]="10"
                          [nzStep]="1"
                          [nzDisabled]="isDisabled"
                          (ngModelChange)="handlerChange($event)"
                          formControlName="cant"
                        ></nz-input-number>
                      </ng-container>


                    </div>
                    <div class="delete" (click)="deleteItem(product.id)">
                      <img src="./assets/img/delete.svg" />
                    </div>
                  </div>
                </li>

              </ng-container>
          </div>

      </form>


      </ul>
    </div>
  </div>
  <div class="foo">
    <div class="wrapper">
      <p>
        *Para que la cotizacion sea factible debes llenar tus datos personales
      </p>
      <button nz-button nzSize="large" nzType="primary" (click)="submit()">Cotizar</button>
    </div>

  </div>
</div>
