<section id="about">
  <article>
    <div class="box-services">
      <div class="box-head-services bg-about">
        <div class="wrapper-site">
          <div>
            <h2>
              Somos<br/>
              IncoGas ltda.
            </h2>
          </div>
        </div>
      </div>
      <div class="breadcrumbs wrapper-site">
        <nz-breadcrumb>
          <nz-breadcrumb-item><a [routerLink]="['/']">Home</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>Somos</nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <div class="wrapper-site">
        <div class="body-content">
          <div class="head-section" >
            <markdown [data]="data_about.we_are"></markdown>
          </div>
          <div class="head-section" >
            <markdown [data]="data_about.mission_brand"></markdown>
          </div>
          <div class="head-section" >
            <markdown [data]="data_about.visionary_brand"></markdown>
          </div>
          <div class="head-section" >
            <markdown [data]="data_about.security"></markdown>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>



