<section id="about">
  <article>
    <div class="box-about">
      <div class="box-head-services">
        <div class="wrapper-site">
          <div>
            <h2>
              Somos<br/>
              IncoGas ltda.
            </h2>
          </div>
        </div>
      </div>
      <div class="box-content-about">
        <div class="wrapper-site">
          <div class="body-content">
            <img src="https://via.placeholder.com/1200x400.png/333/fff"/>
            <h3>Somos</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <h3>Nuestra Visión.</h3>
            <p>
              Consolidarnos en el mercado industrial, como una empresa que brinde un servicio de calidad, con fuerte enfoque al cliente. Velando por la integridad de nuestro proceso, cuidando el medio habiente y al entorno.
            </p>
            <h3>Nuestra Misión.</h3>
            <p>
              Ser una empresa competitiva en el mercado, con una fuerte convicción de otorgar un servicio de calidad y orientado a poder apoyar a nuestros clientes, logrando que se desarrollen sus negocios con insumos de calidad y precios accesibles.
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
