
@import '../../../../mq';
.somos{
  width: 100%;
  padding:60px 0 60px 0;
  .wrapper-teaser{
    display: grid;
    grid-template-columns: 40% 60%;
    @include respond-to($iphone_xs) {
      grid-template-columns: 100%;
    }
    .left,
    .right{
      h2,p{
        color:#fff;
        font-family: 'Roboto', sans-serif;
      }
      h2{
        font-size:3.5vw;
        font-weight: 900;
        @include respond-to($iphone_xs) {
          font-size:15vw;
        }
      }
      p{
        font-weight: 300;
      }
    }
    .right{
      p{
        margin:20px 0;
      }
      app-button{
        max-width:200px;
        display: block;
        margin:40px 0 0 0;
      }
    }
  }
}
