<div class="{{Theme}}">
  <div class="wrapper-teaser">
    <div class="left">
      <div class="box-thumb-somos">
        <span class="rect-float t-l"></span>
        <div class="team">
          <img src="./assets/img/somos.jpg" />
        </div>
        <span class="rect-float b-r"></span>
      </div>

    </div>
    <div class="right">
      <h2>
        {{data_teaser.title}}
      </h2>
      <div class="box-about-teaser">
        <markdown [data]="data_teaser.description"></markdown>
        <app-button Theme="btn-secundary" Label="Ver Más" [routerLink]="'/somos'" foo></app-button>
      </div>
    </div>
  </div>
</div>
