
@import '../../../../mq';
@import '../../../../theme';
.somos{
  width: 100%;
  padding:60px 0 60px 0;
  .wrapper-teaser{
    display: grid;
    grid-template-columns: 40% 60%;
    @include respond-to($iphone_xs) {
      grid-template-columns: 100%;
    }
    .left{
      display: flex;
      align-items: center;
      .box-thumb-somos{
        position: relative;
        .rect-float{
          width: 120px;
          height: 120px;
          border-radius: 10px;
          position: absolute;
        }
        .t-l{
          top:-60px;
          left:-60px;
          background: $brand-primary;
          z-index: 0;
        }
        .b-r{
          bottom: -60px;
          right: -60px;
          background: $brand-primary;
          z-index: 11;
        }
        .team{
          width:300px;
          height: 300px;
          display: block;
          background: $brand-secundary;
          position: relative;
          z-index: 10;
          border-radius:15px;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
      }


    }
    .left,
    .right{
      h2,p{
        color:#fff;
        font-family: 'Roboto', sans-serif;
      }
      h2{
        font-size:3.5vw;
        font-weight: 900;
        @include respond-to($iphone_xs) {
          font-size:19vw;
          line-height: 1.2;
          padding: 5px 0 0 0;
        }
      }
      p{
        font-weight: 300;
      }
    }
    .right{
      p{
        font-size: 16px;
        margin:20px 0;
        line-height: 28px;
        color: #fff !important;
      }
      app-button{
        max-width:200px;
        display: block;
        margin:40px 0 0 0;
      }
    }
  }
}
