@import '../../../../mq';
.works-home{
  // border:1px solid red;
  ul{
    margin:0;
    padding:0;
    display: grid;
    li{
      app-card{
        display: block;
        .works-card{
          width:100%;
          max-width: 100%;
          min-height: 280px;
        }
      }

    }
  }



}

.col-3-flex{
  ul{
    grid-template-columns: 33% 33% 33%;
    grid-auto-flow: dense;
    column-gap: 25px;
    @include respond-to($iphone_xs) {
      grid-template-columns: 100%;
      row-gap: 20px;
    }
  }

}
.col-4-flex{
  ul{
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: dense;
    column-gap: 25px;
    @include respond-to($iphone_xs) {
      grid-template-columns: 100%;
      row-gap: 20px;
    }
  }

}
