<section>

<article>
  <div>
    <app-big-banner Type="carousel"></app-big-banner>
  </div>

  <div class="box-quick-shortcuts">
    <div class="wrapper-site">
      <app-quick-shortcuts></app-quick-shortcuts>
    </div>
  </div>

  <div class="box-teaser">
    <div class="wrapper-site">
      <app-teaser Theme="somos"></app-teaser>
    </div>
  </div>


  <div class="box-services">

    <div class="box-head-services">
      <div class="wrapper-site">
        <div>
          <h2>
            Nuestros<br/>
            Segmentos
          </h2>
          <div class="btn-view-all">
            <app-button Theme="btn-primary" Label="Ver Todos" [routerLink]="'/services/all'"></app-button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-grid-services">
      <div class="wrapper-site">
        <ng-container *ngIf="data_services.length > 0">
          <app-grid-card [Data]="data_services" Theme="works-home col-3-flex" [ConfigChildren]="configServices"></app-grid-card>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="box-services">

    <div class="box-head-services">
      <div class="wrapper-site">
        <div>
          <h2>
            Nuestros<br/>
            Productos
          </h2>
          <div class="btn-view-all">
            <app-button Theme="btn-primary" Label="Ver Todos" [routerLink]="'/services/all'"></app-button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-grid-products">
      <div class="wrapper-site">
        <app-grid-card [Data]="data_products" Theme="works-home col-4-flex" [ConfigChildren]="configProducts"></app-grid-card>
      </div>
    </div>

  </div>


  <!-- Contact -->
  <app-contact Theme="contact-primary"></app-contact>




</article>

</section>

