@import '../../../theme.scss';
@import '../../../mq.scss';
.box-thumbnails{
  .wrapper-thumbnails{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}



.box-quick-shortcuts{
  padding:80px 0;
  // background: $brand-primary;
  background: rgb(228,27,35);
  background: linear-gradient(90deg, rgba(228,27,35,1) 0%, rgb(250, 37, 45) 100%);
}
.box-teaser{
  // background: $brand-primary;
  background: rgb(228,27,35);
  background: linear-gradient(90deg, rgba(228,27,35,1) 0%, rgb(250, 37, 45) 100%);
}

.btn-view-all{
  max-width: 140px;
  display: block;
  margin: 30px auto 0 auto;
}



// .box-security{
//   background: $brand-primary;
//   .security{
//     width: 100%;
//     padding:60px 0 60px 0;
//     .wrapper-teaser{
//       display: grid;
//       grid-template-columns: 40% 60%;
//       @include respond-to($iphone_xs) {
//         grid-template-columns: 100%;
//       }
//       .left,
//       .right{
//         h2,p{
//           color:#fff;
//           font-family: 'Roboto', sans-serif;
//         }
//         h2{
//           font-size:3.5vw;
//           font-weight: 900;
//           @include respond-to($iphone_xs) {
//             font-size:15vw;
//           }
//         }
//         p{
//           font-weight: 300;
//         }
//       }
//       .right{
//         p{
//           margin:20px 0;
//         }
//         app-button{
//           max-width:200px;
//           display: block;
//           margin:40px 0 0 0;
//         }
//       }
//     }
//   }
// }



