@import '../../../theme.scss';
@import '../../../mq.scss';
@import '../../components/ui-kit/grid-card/grid-card.component';
.box-thumbnails{
  .wrapper-thumbnails{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}



.box-quick-shortcuts{
  padding:0px 0;
  background: $white;
  // background: $brand-primary;
  // background: rgb(228,27,35);
  // background: linear-gradient(90deg, rgba(228,27,35,1) 0%, rgb(250, 37, 45) 100%);
}
.box-teaser{
  margin-top: 50px;
  padding:20px 0;
  // background: $brand-primary;
  background: rgb(254,71,78);
  background: linear-gradient(90deg, rgba(254,71,78,1) 0%, rgba(228,27,35,1) 100%);
}

.btn-view-all{
  max-width: 140px;
  display: block;
  margin: 30px auto 0 auto;
}


.box-grid-products{
  .works-home{
    ul{
      justify-content: center;
      li{
        .card{
          margin: 0 auto 0 auto;
        }
      }
    }
  }
}



.service-card-primary{
  border:1px solid #fff;
  background: #fff;
  border-radius: 5px;
  padding:30px 0;
  box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.2);
  .btn-products{display: none;}
  .wrapper-card{
    max-width:80%;
    display:block;
    margin:0 auto;
  }
  .head-card{
    h3{
      font-size: 30px;
      padding:10px 0 0 5px;
      color: #000;
    }
  }
  .body-card{
    p{
      font-weight: 400;
      color: #000;
    }
  }
  .ico-card{
    max-width: 60px !important;
    margin:0 !important;
    padding:0;
  }
  .foo-card{
    app-button{
      max-width:150px;
      display:block;
      margin-top: 25px;
      .btn-secundary{
        background: $brand-primary;
        border:1px solid $brand-primary;
      }
    }

  }

  &:hover{
    @include transition(0.3s);
    border:1px solid $brand-primary;
    box-shadow: -14px 1px 67px -28px rgba(0,0,0,0);
  }


}





.box-products{
  ul{
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-flow: dense;
    grid-column-gap: 25px;
    column-gap: 25px;
    grid-row-gap: 25px;
    row-gap: 25px;
    li{
      width: 100%;
      // max-width: 300px;
      display: block;
      order: 1px solid #fff;
      background: #fff;
      border-radius: 5px;
      padding: 30px 0;
      box-shadow: -14px 1px 67px -28px rgb(0 0 0 / 20%);
      .item-product{
        max-width:80%;
        display:block;
        margin:0 auto;
      }
      .item-product{
        .thumb{
          width: 100%;
          display: block;
          margin-bottom: 30px;
          img{
            width: 100%;
          }
        }
        .details{
          display: flex;
          column-gap: 20px;
          align-items: center;
          justify-content: space-between;
          h3,h4{
            color:#333;
          }
          h3{
            font-weight: 900;
          }
          h4{
            font-size: 20px;
            font-weight: 600;
            color: #009a49 !important;
            span{
              font-size: 16px;
              font-weight: 400;
              display: block;
            }
          }

        }
        .format{
          ul{
            display: grid;
            grid-template-columns: 33% 33% 33%;
            column-gap: 3%;
            li{
              box-shadow: none;
              h6{
                font-size: 20px;
                font-weight: 900;
                color:#333;
              }
              p{
                font-size: 20px;
                font-weight: 700;
                color:#333;
              }
              .disponible{
                color: #009a49
              }
              .no-disponible{
                color: $brand-primary;
              }

            }
          }
        }
      }
      &:hover{
        // border:1 px solid rgba(255, 255, 255, 1);
        box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
        -webkit-box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
        -moz-box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
      }
    }
  }
}
