<section #top>

<article>
  <div>
    <app-big-banner Type="carousel"></app-big-banner>
  </div>

  <div class="box-quick-shortcuts">
    <div class="wrapper-site">
      <app-quick-shortcuts></app-quick-shortcuts>
    </div>
  </div>

  <div class="box-teaser">
    <div class="wrapper-site">
      <app-teaser Theme="somos"></app-teaser>
    </div>
  </div>


  <div class="box-services">

    <div class="box-head-services bg-services">
      <div class="wrapper-site">
        <div>
          <h2>
            Nuestros<br/>
            Segmentos
          </h2>
          <div class="btn-view-all">
            <button nz-button nzSize="large" nzType="primary" [routerLink]="'/services/all'">Ver Todos</button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-grid-services">
      <div class="wrapper-site">
        <ng-container *ngIf="data_services.length > 0">
          <div class="works-home col-3-flex">
            <div>
              <ul>
                <li *ngFor="let service of data_services">
                  <div class="card service-card-primary">
                    <div class="wrapper-card">
                      <div class="head-card">
                          <div class="ico-card">
                            <img *ngIf="service.Thumbnails.img" src="{{urlAssets}}{{service.Thumbnails.img.url }}" alt="" width="100%">
                          </div>
                        <h3>{{service.Thumbnails.title}}</h3>
                      </div>
                      <div class="body-card">
                        <ng-container  *ngIf="service.Thumbnails.typeMedia === 'background'">
                          <h3>{{service.title}}</h3>
                          <ng-container *ngIf="service.Thumbnails.price != null">
                            <h4 class="price"> <span>$</span> {{service.Thumbnails.price}} <span>+ iva</span></h4>
                          </ng-container>
                        </ng-container>
                        <p>{{service.Thumbnails.label}}</p>
                      </div>
                      <div class="foo-card">
                        <app-button Theme="btn-secundary" Label="{{service.Thumbnails.callToAction.label}}" (click)="callToAction(service)"></app-button>
                      </div>
                    </div>
                  </div>

                </li>
              </ul>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="box-services">

    <div class="box-head-services">
      <div class="wrapper-site">
        <div>
          <h2>
            Nuestros<br/>
            Productos
          </h2>
          <div class="btn-view-all">
            <button nz-button nzSize="large" nzType="primary" [routerLink]="'/products/all'">Ver Todos</button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-grid-products">
      <div class="wrapper-site">
        <ng-container *ngIf="data_products.length > 0">
          <app-grid-card [Data]="data_products" Theme="works-home col-4-flex" [ConfigChildren]="configProducts"></app-grid-card>
        </ng-container>
      </div>
    </div>

  </div>


  <!-- Contact -->
  <app-contact Theme="contact-primary"></app-contact>




</article>

</section>

