.box-thumbnails{
  .wrapper-thumbnails{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}



.box-quick-shortcuts{
  padding:0;
  background: #a6a4a4;
}
.box-teaser{
  background: #868686;
}


