<section id="services">
  <article>
    <div class="box-services">
      <div class="box-head-services">
        <div class="wrapper-site">
          <div>
            <h2>
              Nuestros<br/>
              Segmentos
            </h2>
          </div>
        </div>
      </div>
      <div class="box-grid-services">
        <div class="wrapper-site">
          <ng-container *ngIf="data_services.length > 0">
            <app-grid-card [Data]="data_services" Theme="works-home col-3-flex" [ConfigChildren]="configServices"></app-grid-card>
          </ng-container>
        </div>
      </div>

    </div>
  </article>
</section>
