<section id="services">
  <article>
    <div class="box-services">
      <div class="box-head-services">
        <div class="wrapper-site">
          <div>
            <h2>
              Nuestros<br/>
              Servicios
            </h2>
          </div>
        </div>
      </div>
      <div class="box-grid-services">
        <div class="wrapper-site">
          <app-grid-card [Data]="data_works" Theme="works-home col-3-flex"></app-grid-card>
        </div>
      </div>

    </div>
  </article>
</section>
