@import '../../../../theme';
@import '../../../../mq';

.menu{
  width:100%;
  display: block;
  background:$brand-secundary;
  border-top: 1px solid $brand-primary;
  .header-primary{
    display: grid;
    grid-template-columns: 120px auto;
    .left{
      position: relative;
      .logo{
        width:120px;
        position: fixed;
        z-index: 5656;
        top: 0;
        cursor: pointer;
        // margin-left:-145px;
        // left: 0;
        @include respond-to($iphone_xs) {
          width:80px;
        }
        img{
          width: 100%;
          display: block;
        }
      }
    }
    .right{
      .nav-menu{
        @include respond-to($iphone_xs) {
          display: none;
        }
        ul{
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          li{
            list-style: none;
            margin:0 20px;
            position: relative;
            span{
              width: 0%;
              display: block;
              border-bottom:3px solid $brand-primary;
              left:50%;
              // margin-left:-25%;
            }
            p{
              font-family: 'Roboto', sans-serif;
              font-weight: 300;
              text-decoration: none;
              padding:20px 10px 20px 10px;
              display: block;
              color: #fff;
              cursor: pointer;
              &:hover{
                color:$brand-primary;
              }
            }
            &:hover{
              opacity:0.65;
            }
            &.active{
              opacity:1 !important;
            }
            &:hover,
            &.active{
              span{
                @include transition(0.2s);
                width: 100%;
              }
              p{
                color:$brand-primary;
              }
            }

          }

        }
      }
    }

  }



}
