<div class="menu">
  <div class="wrapper-site header-primary">
    <div class="left">
      <div class="logo" [routerLink]="'/'">
        <img src="./assets/img/incogas-red.png" />
      </div>
    </div>
    <div class="right">
      <div class="nav-menu">
        <ul>
          <li *ngFor="let nav of navMenu" [routerLink]="[nav.url]" routerLinkActive="active">
            <p>{{nav.label}}</p>
            <span></span>
          </li>
        </ul>
      </div>
      <div class="shopping-cart" (click)="openShoppingCart()">
        <ng-container *ngIf="listItemsShoppingCart.length === 0">
          <img src="./assets/img/shopping-bag.png" />
        </ng-container>
        <ng-container *ngIf="listItemsShoppingCart.length > 0">
          <img src="./assets/img/shopping-bag-active.png" />
        </ng-container>

      </div>
    </div>
  </div>
</div>
