@import '../../../../theme';

.menu{
  width:100%;
  display: block;
  background:$brand-secundary;
  .header-primary{
    display: grid;
    grid-template-columns: 120px auto;
    .left{
      position: relative;
      .logo{
        width:120px;
        position: fixed;
        z-index: 5656;
        top: 0;
        cursor: pointer;
        // margin-left:-145px;
        // left: 0;
        img{
          width: 100%;
          display: block;
        }
      }
    }
    .right{
      .nav-menu{
        ul{
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          li{
            list-style: none;
            margin:0 20px;
            p{
              font-family: 'Roboto', sans-serif;
              font-weight: 200;
              text-decoration: none;
              padding:10px;
              display: block;
              color: $white;
              cursor: pointer;
              &:hover{
                color:$brand-primary;
              }
            }
          }
        }
      }
    }

  }



}
