<div class="head-section">
  <h2>
    Las Mejores Ofertas
  </h2>
</div>
<div class="box-thumbnails">
    <app-card
      Theme="product-service"
      Title="Lorem Ipsum"
      Message="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
    >
      <app-button Theme="btn-secundary" Label="Ver Más" foo></app-button>
    </app-card>

    <app-card
      Theme="product-service"
      Title="Lorem Ipsum"
      Message="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
    >
      <app-button Theme="btn-secundary" Label="Ver Más" foo></app-button>
    </app-card>

    <app-card
      Theme="product-service"
      Title="Lorem Ipsum"
      Message="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
    >
      <app-button Theme="btn-secundary" Label="Ver Más" foo></app-button>
    </app-card>








</div>
