@import './theme';

body{
  margin:0;
  padding:0;
  // background:$black;
}

h1,h2,h3,h4,h5,h6,p{
  padding:0;
  margin:0;
}

*li{
  list-style: none;
}
/* You can add global styles to this file, and also import other style files */
.wrapper-site{
  width:90%;
  max-width:1336px;
  display: block;
  margin: 0 auto;
}

.box-services,
.box-about{
  .box-head-services{
    background: #676767;
    padding:60px 0 60px 0;
    h2{
      font-size:70px;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      text-align: center;
      color:#fff;
    }
  }
  .box-grid-services{
    background: #868686;
    padding:60px 0 60px 0;
  }

}

.head-section{
  padding:40px 0 60px 0;
  h2,h1{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 900;
  }
  p{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 200;
  }
}
