@import '../../../../theme';
// card primary
.card{
  .wrapper-card{
    display: block;
    margin: 0 auto;
  }
  .head-card,
  .body-card,
  .foo-card{
    padding:10px 0;
    display:block;
    h3,h5,p{
      font-family: 'Roboto', sans-serif;
      color:$white;
    }
    h3{
      font-weight: 600;
    }
    p{
      font-weight: 200;
    }
  }
  .head-card{
    .ico-card{
      max-width: 50px;
      display:block;
      margin:0 auto 20px auto;
      img{
        width: 100%;
      }
    }
  }
}
// theme big-banner
.banner-full{
  width:100%;
  max-width: 100%;
  border-radius:0;
}
// theme thumbnail
.thumbnail{
  max-width:400px;
  border-radius:0;
  padding:90px 0 50px 0;
  background:$bgWireframe1;

  border:1px solid rgba(0,0,0,0.1);
  position:relative;
  z-index: 10;

  .wrapper-card{
    max-width: 80%;
  }
}
// theme work
.works-card{
  max-width:312px;
  border-radius:0;
  padding:90px 0 50px 0;
  background:#797979;

  border:1px solid rgba(0,0,0,0.1);
  position:relative;
  z-index: 10;

  .wrapper-card{
    max-width:80%;
  }
}

.works-card:hover,
.thumbnail:hover{
  border:1px solid rgba(0,0,0,0.5);
  z-index: 16;
  box-shadow: 0 0 10px 5px rgba(0,0,0, 0.05);
}




// theme quick-shortcuts
.product-service{
  max-width:400px;
  border-radius:0;
  padding:90px 0 50px 0;
  background:rgba(255, 255, 255, 0.05);
  border:5px solid rgba(255, 255, 255, 0.05);
  position:relative;
  z-index: 10;
  border-radius: 5px;
  margin:0 0 10px 0;
  &:hover{
    @include transition(0.1s);
    border:1px solid rgba(255, 255, 255, 1);
    box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
    -webkit-box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
    -moz-box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
  }
  .wrapper-card{
    max-width: 80%;
  }
}
