@import '../../../../theme';
@import '../../../../mixin';
// card primary
.card{
  .wrapper-card{
    display: block;
    margin: 0 auto;
  }
  .head-card,
  .body-card,
  .foo-card{
    padding:10px 0;
    display:block;
    h3,h5,p{
      font-family: 'Roboto', sans-serif;
      // color:$white;
      color:$brand-primary;
    }
    h3{
      font-weight: 600;
    }
    p{
      font-weight: 200;
    }
  }
  .head-card{
    .ico-card{
      max-width: 50px;
      display:block;
      margin:0 auto 20px auto;
      img{
        width: 100%;
      }
    }
  }
}

// theme big-banner
.banner-full{
  width:100%;
  max-width: 100%;
  border-radius:0;
}
// theme thumbnail
.thumbnail{
  max-width:400px;
  border-radius:0;
  padding:90px 0 50px 0;
  background:$bgWireframe1;

  border:1px solid rgba(0,0,0,0.1);
  position:relative;
  z-index: 10;

  .wrapper-card{
    max-width: 80%;
  }
}
// theme work
.works-card{
  max-width:312px;
  border-radius:0;
  padding:90px 0 50px 0;
  background:#797979;

  border:1px solid rgba(0,0,0,0.1);
  position:relative;
  z-index: 10;

  .wrapper-card{
    max-width:80%;
  }
}

.works-card:hover,
.thumbnail:hover{
  border:1px solid rgba(0,0,0,0.5);
  z-index: 16;
  box-shadow: 0 0 10px 5px rgba(0,0,0, 0.05);
}




// theme quick-shortcuts
//.product-service,
.product-shortcuts{
  max-width:400px;
  border-radius:0;
  padding:90px 0 50px 0;
  background:rgba(255, 255, 255, 0.05);
  border:5px solid rgba(255, 255, 255, 0.05);
  position:relative;
  z-index: 10;
  border-radius: 5px;
  margin:0 0 10px 0;
  display:block;
  .btn-products{
    display:none;
  }
  &:hover{
    // border:1 px solid rgba(255, 255, 255, 1);
    box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
    -webkit-box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
    -moz-box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
  }
  .wrapper-card{
    max-width: 80%;
  }
}

.product-shortcuts{
  background:$white;
  border:2px solid #e41b23;
}

.background-card{
  width:100%;
  height:auto;
  // position:absolute;
  // top:0;
  // left:0;
  img{
    width:100%;
  }
}

.price{
  font-size:30px;
  font-family: 'Roboto', sans-serif;
  color:$brand-primary;
  font-weight: 400;
  padding:10px 0 10px 0;
  span{
    font-size:20px;
    font-weight: 600;
  }
}

.backgroud-product{
  padding:0 0 0 0;
  .background-card{
    z-index:-1;
  }
  .wrapper-card{
    width:100%;
    max-width: 100%;
    position: relative;
  }
  .content-float{
    width: 100%;
    position:relative;
    // bottom:25px;
    // left:0;
    // background: rgba(0,0,0,0.5);
    .body-card,
    .foo-card{
      max-width:80%;
      display:block;
      margin:0 auto 0 auto;
    }
  }
}

.product-shortcuts{
  padding:0 0 0 0;
  .background-card{
    z-index:-1;
  }
  .wrapper-card{
    width:100%;
    max-width: 100%;
    position: relative;
  }
  .content-float{
    width: 100%;
    position:relative;
    // bottom:25px;
    // left:0;
    // background: rgba(0,0,0,0.5);
    .body-card,
    .foo-card{
      max-width:80%;
      display:block;
      margin:0 auto 0 auto;
    }
  }
}


.service-card-primary{
  border:1px solid #fff;
  background: #fff;
  border-radius: 5px;
  padding:30px 0;
  box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.2);
  .btn-products{display: none;}
  .wrapper-card{
    max-width:80%;
    display:block;
    margin:0 auto;
  }
  .head-card{
    h3{
      font-size: 30px;
      padding:10px 0 0 5px;
      color: #000;
    }
  }
  .body-card{
    p{
      font-weight: 400;
      color: #000;
    }
  }
  .ico-card{
    max-width: 60px !important;
    margin:0 !important;
    padding:0;
  }
  .foo-card{
    app-button{
      max-width:150px;
      display:block;
      margin-top: 25px;
      .btn-secundary{
        background: $brand-primary;
        border:1px solid $brand-primary;
      }
    }

  }

  &:hover{
    @include transition(0.3s);
    border:1px solid $brand-primary;
    box-shadow: -14px 1px 67px -28px rgba(0,0,0,0);
  }


}


.product-service{
  max-width:320px;
  position:relative;
  cursor:pointer;
  // border:1px solid blue;
  .btn-products{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 10;
    top:0px;
    left:0;
    background:rgba(0,0,0,0.65);
    align-items:center;
    justify-content:center;
    opacity:0;
    display:none;
    img{
      max-width:50px;
      display:block;
      position: relative;
      top:30px;
    }
  }
  .content-float{
    background:$white;
    display:block;
    box-shadow: -14px 1px 67px -28px rgba(0,0,0,0.71);
    .body-card{
      max-width:93%;
      h3, .price{
        color: $brand-primary !important;
      }
      h3{
        font-weight: 400;
        font-size: 20px;
        text-align: left;
      }
      .price{
        font-weight: 700;
        font-size: 20px;
        text-align: left;
        span{
          font-weight: 400;
          font-size: 16px;
        }
      }
      p{
        display: none;
      }
    }
  }
  .foo-card{
    display: none;
    .btn-secundary{
      width: 150px;
      display: block;
      /* margin: 0 auto; */
      border-radius: 7px;
      float: right;
      border:1px solid #000;
      &:hover{
        border:1px solid $brand-primary;
        background:$brand-primary;
      }
    }
  }


  &:hover{
    .btn-products{
      @include transition(0.1s);
      opacity:1;
      display: flex;
      img{
        top:0;
      }
    }
  }


}
