<ng-container *ngIf="Config">
  <div class="card {{Config.theme}}">
    <div class="wrapper-card">

      <ng-container *ngIf="Config.typeMedia === 'background'">
        <div class="background-card">
          <img src="./assets/img/producto-2.jpg" />
        </div>
      </ng-container>

      <ng-container *ngIf="Config.typeMedia === 'icon'">
        <div class="head-card">
            <div class="ico-card">
              <img src="./assets/img/ico-1.png" />
            </div>
          <h3>{{Title}}</h3>
        </div>
      </ng-container>

      <div [ngClass]="{'content-float': Config.typeMedia === 'background'}">
        <div class="body-card">

          <ng-container  *ngIf="Config.typeMedia === 'background'">
            <h3>{{Title}}</h3>
          </ng-container>




          <p>{{Message}}</p>
        </div>

        <div class="foo-card">
          <ng-content select="[foo]"></ng-content>
        </div>
      </div>


    </div>
  </div>
</ng-container>
