<aside>
  <div class="box-side-category">
    <ul nz-menu nzMode="inline" style="width: 240px;">
      <ng-container *ngFor="let category of categories">
        <li
          nz-submenu
          nzTitle="{{category.title}}"
          nzIcon="appstore"
        >
        <ng-container *ngIf="category.sub_categories.length > 0">
          <ul class="suCategory">
            <li nz-menu-item (click)="handlerSubCategory(subCategory)" *ngFor="let subCategory of category.sub_categories">
              <p>
                {{subCategory.label}}
              </p>
            </li>
          </ul>

        </ng-container>
        </li>
      </ng-container>


      </ul>
    <!-- <ul>
      <h4>Categorias</h4>
      <ng-container *ngFor="let category of categories">
        <li>
          <p>
            {{category.title}}
          </p>
          <ng-container *ngIf="category.sub_categories.length > 0">
            <ul class="suCategory">
              <ng-container *ngFor="let subCategory of category.sub_categories">
                <li (click)="handlerSubCategory(subCategory)">
                  <p>
                    {{subCategory.label}}
                  </p>
                </li>
              </ng-container>


            </ul>
          </ng-container>
        </li>
      </ng-container>


    </ul> -->
  </div>
</aside>
