<aside>
  <div class="box-side-category">
    <ul>
      <h4>Categorias</h4>
      <ng-container *ngFor="let category of categories">
        <li>
          <p>
            {{category.title}}
          </p>
          <ng-container *ngIf="category.sub_categories.length > 0">
            <ul class="suCategory">
              <ng-container *ngFor="let subCategory of category.sub_categories">
                <li (click)="handlerSubCategory(subCategory)">
                  <p>
                    {{subCategory.label}}
                  </p>
                </li>
              </ng-container>


            </ul>
          </ng-container>
        </li>
      </ng-container>


    </ul>
  </div>
</aside>
