@import '../../../../theme';
.footer{
  width: 100%;
  height: auto;
  padding:80px 0 80px 0;
  background:#000;

  .foo{
    display: grid;
    grid-template-columns: 300px auto auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
    .left,.center,.right{
      h2,p,h5, a{
        color:#fff;
        font-family: 'Roboto', sans-serif;
      }
      h2{
        font-size: 30px;
        font-weight:900;
      }
      p{
        font-size: 14px;
        font-weight:200;
        margin-top: 5px;
        a{
          color: $brand-primary;
          font-weight: 400;
        }
      }
    }
    .center{
      display: block;
      h5{
        font-size: 20px;
        font-weight:600;
        color:#fff;
        font-family: 'Roboto', sans-serif;
      }
      ul{
        margin: 10px 0 0 0;
        padding: 0;
        // display: flex;
        // align-items: center;
        li{
          display: flex;
          align-items: center;
          column-gap: 10px;
          // padding:0 10px;
          a{
            font-size: 14px;
            font-weight:400;
            color:rgba(255, 255, 255, 0.65);
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            margin: 3px 0;
            display: block;
          }
          &::before {
            content: "\2022";
            color: red;
          }
        }
      }
    }
    .right{
      .copyright{
        height:100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
      .logo{
        max-width: 120px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin:0 0 20px 0;
        img{
          width: 100%;
        }
      }
    }
  }
}
